{% extends 'base.html.twig' %}

{% block body %}
    <h1>Depense creation</h1>

    <a class="btn btn-success" href="{{ path('depenses_index') }}">Back to the list</a>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input class="btn btn-info" type="submit" value="Create" />
    {{ form_end(form) }}




{% endblock %}
