{% extends 'base.html.twig' %}

{% block body %}


    <h1> Hello {{ app.user.username }} </h1>

    <h2> Rise and shine...get out of bed and get focused on the day ahead ..</h2>
    <h3>The harder you work for something, the greater you'll feel when you achieve it.</h3>

    <h4>Success doesn't just find you. ...Dream bigger.</h4>
    <h5>Your limitation—it's only your imagination.</h5>

{% endblock %}

{% block stylesheets %}
{% endblock %}
