{% extends 'base.html.twig' %}

{% block body %}
    <h1>Seanceregion creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('seanceregion_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}



{% block javascripts %}
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <script> $('#appbundle_seanceregion_date_seance').daterangepicker({
            singleDatePicker: true,
            showDropdowns: true,
            timePicker: true,
            locale: {
                format: 'YYYY-MM-DD hh:mm:ss'
            }
        });</script>
{% endblock %}
