{% extends 'base.html.twig' %}

{% block body %}
    <h1>Film creation</h1>
    <a class="btn btn-warning" style="float: right" href="{{ path('film_index') }}">Back to the list</a>
<br>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" class="btn btn-primary" value="Create" />
    {{ form_end(form) }}



{% endblock %}
